{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.3.0"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.1"}}}
]}.

{relx, [
    {release, {cowboy_startkit, "0.1.1"}, [
        sasl,
        cowboy_demo,
        hello
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
    {include_erts, true}]}]
}]
}.
